.box7{
    color: #ffffff;
    background-color: #0b2f64;
}
a{
    text-decoration: none;
    color: #0B2F64;
}
.chart{
    width: 97%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background: #ffffff;
    border-radius: 10px;
    height: 100%;
    align-items: center;
}