.box3{
    color: #ffffff;
    background-color: #0b2f64;
}
.common-main-left-img{
    margin-top: 0.5%;
}
.right-content{
    display: flex;
    padding: 2rem;
    /* border: 2px solid #0B2F64; */
    font-size: 16px;
    font-weight: 600;
    width: 92%;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    border-radius: 10px;
}
.right-content-detail{
    display: flex;
    padding: 2rem;
    /* border: 2px solid #0B2F64; */
    border-radius: 10px;
    background-color: #d9d9d9;
    font-size: 16px;
    font-weight: 600;
    width: 85%;
    flex-direction: column;
    /* align-items: center; */
}
form{
    display: flex;
    flex-direction: column;
    width: 85% !important;
    margin: auto;
}
.topic-container{
    /* margin-left: 3.5%; */
    margin-top: 2%;
}
.topic-box{
    border: 2px solid #0B2F64;
    width:100%;
    margin-top: 2% ;
}
.type-id-container{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
.type-container{
    width:50%;
}
.type-box{
    border: 2px solid #0B2F64;
    width:100%;
    margin-top: 2% ;
    /* width: 150%; */
}
.id-container{
    margin-left: 3%;
    float: right;
    width: 55%;

}
.id-box{
    border: 2px solid #0B2F64;
    width: 100%;
    margin-top: 2% ;
}
.msg-container{
    margin-top: 2%;
}
.msg-box{
    border: 2px solid #0B2F64;
    width:100%;
    border-radius: 5px;
    margin-top: 2% ;
}
.topic-box, .id-box, .type-box{
    border-radius: 5px;
    height: 20px;
}
.inquiry-btns{
    display: flex;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    justify-content: center;
}
.sendbtn, .clearbtn{
    display: inline-block;
    width: 20%;
    padding: 0.4rem;
    background: #2C61A3;
    /* font-size: 14px; */
    font-weight: medium;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    border: none ;
    border-radius: 5px;
}
.sendbtn:hover, .clearbtn:hover {
    cursor: pointer;
    transform:scale(1.07);
}
.clearbtn{
    background: none !important;
    border: 2px solid #2C61A3;
    color: #2C61A3;
    margin-right: 50%;
    display: none;
}
.star{
    font-size: 0.7rem;
    color: #e32;

}
.err-box{
    font-size: 0.7rem;
    color: #DE8500;
    margin-left: 1%;
}
a{
    text-decoration: none;
    color: #0B2F64;
}

.footer-div {
    position: absolute;
    width: 100%;
    height: 20px;
    margin-left: -243px;
    margin-top: 820px;
}