body{
    font-family: 'work sans';
}

/* this navigation bar is common for all customer dashboards */
.btn2{
    display: flex;
    align-items: center;
}
.noti{
    margin-right: 25%;
}

.nav-btn2:hover, .noti:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.dash{
    color: #DE8500 !important;
}
.dash:hover{
    cursor: arrow;
    transform: none;
}

/* this part is common for all customer dashboard contents..
left sub panel and the topic, left image and right image*/
.left-panel{
    position: absolute;
    /* width: 250px; */
    min-width: 240px;
    /* max-width: 380px; */
    /* height: auto; */
    height: 75%;
    margin-top: 59px;
    left: 0;
    background: linear-gradient(268.65deg, #F1F1F1 0.5%, rgba(255, 255, 255, 0) 56.69%);
    mix-blend-mode: normal;
    border: 2px solid #0B2F64;
    color: #0B2F64 !important;
    font-weight: bold !important;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.box1{
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 5%;
    /* padding-right: 3%; */
    font-size: 22px;
    height: 10%;
    border-bottom: 2px solid #0B2F64;
}
.rest{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 98px);
}
.rest-top, .rest-bottom{
    display: block;
}
.box2,.box3,.box4{
    padding-top: 8%;
    padding-left: 8%;
    padding-bottom: 12px;
    border-bottom: 2px solid #0B2F64;
    height: 10%;
}
.box5{
    margin-top: 90%;
    padding-left: 8%;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 2px solid #0B2F64;
    border-top: 2px solid #0B2F64;
}
.box6{
    padding-left: 8%;
    padding-top: 15px;
    padding-bottom: 12px;

}

.common-main-container{
    /* display: flex; */
    display: grid;
    margin: 5.8vh;
    justify-items: center;
    margin-left: 250px;
}
.dashboard-common-main-topic{
    align-self: center;
    display: flex;
    margin-left: 10px;
    margin-top: 30px;
    width: 80%;

}
.common-main-left-img{
    margin-left: 2%;
}
.common-main-right-img{
    margin-right: 2%;
}
.common-main-txt{
    margin-right: 30%;
    color: #0B2F64;
    font-size: 210%;
    /* font-size: 34px; */
    font-weight: bold;
    margin-left: 2%;
    width: 45%;
}
.common-main-right-img:hover{
    cursor: pointer;
    transform:scale(1.07);
}
/* .btn-ban{
    display: none !important;
} */
