.box4{
    color: #ffffff;
    background-color: #0b2f64;
}
.body-list-container{
    margin-top: 20px;
    height: 78vh;
    align-self: center;
    width: 80%;

}
.transaction-box{
    display: flex;
    justify-content: space-evenly;
    height: 18%;
    width: 90%;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: auto;
}

.transaction-text-container{
    display: flex;
    height: 90px;
    width: 75%;
    /* min-width: 250px; */
    /* max-width: calc(100% - 280px); */
    margin-top: 5px;
    margin-left: 5px;
    /* overflow: auto; */
}
.transaction-text-container-inner{
    display: flex;
    /* height: inherit; */
    flex-direction: column;
    /* justify-content: space-between; */
}
.transaction-details-btn-container{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}
.transaction-details-btn{
    display: flex;
    /* height: 40px; */
    height: 4vh;
    width: 8vw;
    /* width: 110px; */
    background: #2C61A3;
    border-radius: 5px;
    color: #FFFFFF;
    justify-content: center;
} 

.transaction-details-btn:hover, .transaction-download-btn:hover , .transaction-details-download-btn:hover{
    cursor: pointer;
    background: #0B2F64;
    transition-duration: 200ms;
}

.transaction-details-btn-text{
    align-self: center;
}
.transaction-download-btn{
    gap: 0.5rem;
    padding-left: 6%;
    display: flex;
    /* height: 40px; */
    height: 4vh;
    width: 8vw;
    /* width: 110px; */
    background: #2C61A3;
    border-radius: 5px;
    color: #FFFFFF;
    align-items: center;
    flex-direction: row;
}
.download-img{
    width: 45%;
    padding: 2px;
}

.transaction-text-no{
    margin: 5px;
    font-size: 16px;
}



/* transaction details page */
.transaction-detail-box{
    display: flex;
    margin-bottom: 1rem;
    padding: 2rem;
    justify-content: space-evenly;
    /* height: 120px; */
    gap: 0.2rem;
    width: 90%;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: auto;
    flex-direction: column;
}
.transaction-d-text{
    font-size: 20px;
    width: 70%;
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: space-around;
}
.transaction-d-text2{
    width: 70%;
    display: flex;
    margin: 5px;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-between;
}
.transaction-detail-box-inner-boarder{
    display: flex;
    padding: 2rem;
    border-radius: 10px;
    border: 5px solid #2C61A3;
    flex-direction: column;
    align-items: center;
}
hr{
    width: 85%;
    border: 2px solid #0B2F64;
    background-color: #0B2F64;
}
.transaction-details-download-btn{
    gap: 0.5rem;
    padding-left: 2%;
    display: flex;
    margin-left: 794px;
    height: 4vh;
    width: 8vw;
    /* width: 110px; */
    background: #2C61A3;
    border-radius: 5px;
    color: #FFFFFF;
    align-items: center;
    flex-direction: row;
}
.transaction-details-container{
    background-color: #ffffff;
    width: 70%;
    height: 100%;
    justify-items: center;
    display: grid;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: #0B2F64;
}



