.box2{
    color: #0b2f64 !important;
    background-color: #ffffff !important;
}
.box9{
    color: #ffffff;
    background-color: #0b2f64;
}
a{
    text-decoration: none;
    color: #0B2F64;
}
.body-list-container {
    margin-top: 20px;
    height: 55vh;
    align-self: center;
    width: 99%;
}
.no-projects-text{
    margin-top: 200px;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    color: #757575;
}
.project-text-no{
    margin: 5px;
    font-size: 16px;
}

.project-text-name{
    margin: 5px;
    font-size: 22px;
    font-style: bold;
}

.project-text-price{
    margin: 5px;
    font-size: 18px;
}
.project-details-btn-container1{
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.project-details-btn{
    display: flex;
    /* height: 40px; */
    height: 4vh;
    width: 8vw;
    /* width: 110px; */
    background: #2C61A3;
    border-radius: 5px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
} 
.project-details-btn:hover{
    cursor: pointer;
    background: #0B2F64;
    transition-duration: 200ms;
}

.project-details-btn-text{
    align-self: center;
}
.project-box{
    padding: 0.2rem;
    display: flex;
    justify-content: space-evenly;
    /* height: 120px; */
    width: 98%;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    overflow: auto;
}

.project-text-container{
    display: flex;
    height: 90px;
    width: 85%;
    /* min-width: 250px; */
    /* max-width: calc(100% - 280px); */
    margin-top: 5px;
    margin-left: 5px;
    /* overflow: auto; */
}
.project-text-container-inner{
    display: flex;
    /* height: inherit; */
    flex-direction: column;
    /* justify-content: space-between; */
}
.project-box1 {
    padding: 0.2rem;
    display: flex;
    justify-content: space-evenly;
    /* height: 120px; */
    width: 98%;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.project-text-container1 {
    display: flex;
    /* height: 90px; */
    width: 85%;
    /* min-width: 250px; */
    /* max-width: calc(100% - 280px); */
    margin-top: 5px;
    margin-left: 5px;
}
.Trouble-details-container {
    margin-top: 1rem;
    background-color: #ffffff;
    width: 70%;
    justify-items: center;
    border-radius: 5px;
    align-self: center;
}
.details-topic{
    border-radius: 5px 5px 0 0;
    background: #2C61A3;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-details-wrapper {
    margin: 1rem;
    /* width: 95%; */
    height: 87%;
    color: #2C61A3;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
