.box6{
    color: #ffffff;
    background-color: #0b2f64;
}

.r-in{
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    color: #636364;
    font-size:12px;
    width: 75%;
    /* height: 50%; */
}

.form-container-reset{
    display: flex;
    width: 80%;
    padding: 2rem;
    gap: 1rem;
    /* padding-top: 5%; */
    flex-direction: column;
    align-items: center;
}
.resend-btn, .submit-btn{
    width:40%;
}
.cancel-btn, .submit-btn{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    font-family: 'Poppins';
    font-style: normal;
}

.err-group{
    display: flex;
    width: 80%;
}
.star{
    font-size: 0.7rem;
    color: #e32;

}
.err{
    width: 75%;
    display: flex;
}
.err-box{
    font-size: 0.7rem;
    color: #DE8500;
    margin-left: 1%;
}

.group{
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-between
}
.update-p-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: #0B2F64;
}