body{
    background-color: #F1F1F1;
    font-family: 'work sans';
}
.body-container-main{

    /* background-color: yellow; */
}
.body-container{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    /* height: 100%; */
    justify-content: flex-start;
    min-height: 695px;
}
/* this navigation bar is common for all customer dashboards */
nav {
    /* position: absolute; */
    right: 0;
    left: 0;
    height: 75px;
    color: #FCFEFE !important;
    background-color: #0B2F64;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn2{
    display: flex;
    align-items: center;
}
.noti{
    margin-right: 25%;
}

.nav-btn2:hover, .noti:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.dash{
    color: #DE8500 !important;
}
.dash:hover{
    cursor: arrow;
    transform: none;
}

/* this part is common for all customer dashboard contents..
left sub panel and the topic, left image and right image*/
.left-panel{
    border-radius: 5px;
    width: 18rem;
    /* width: 18rem; */
    /* height: 100%; */
    background: white;
    mix-blend-mode: normal;
    /* border: 2px solid #0B2F64; */
    color: #0B2F64 !important;
    box-shadow: 0px 4px 4px rgb(155 200 245 / 55%);
    font-weight: bold !important;
    max-height:2000px;

}
.sidebar::-webkit-scrollbar {
    display: none;
}
.box1{
    display: flex;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.5rem solid #F1F1F1;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap
}
.rest{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    height: calc(100% - 98px);
    justify-content: space-between;
    flex-wrap: nowrap;
}
.rest-top, .rest-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
.box2,.box3,.box4,.box5, .box6, .box7, .box8, .box9{
    display: flex;
    border-bottom: 0.5rem solid #F1F1F1;
    align-content: space-around;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}
.box5{
    border-top: 0.5rem solid #F1F1F1;
}
.common-main-container{
    width: 100%;
    display: flex;
    /* display: grid; */
    margin: 0 2.5vh 0;
    flex-direction: column;
    justify-items: center;
    /* overflow: auto; */
    /* margin-left: 250px; */
    /* align-items: center; */
    
}
.dashboard-common-main-topic{
    padding: 0.5rem;
    background-color: white;
    width: 96%;
    display: flex;
    /* padding: 1rem; */
    /* display: grid; */
    /* margin: 5.8vh; */
    box-shadow: 0px 4px 4px rgb(155 200 245 / 50%);
    justify-items: center;
    justify-content: space-between;
    /* margin-left: 250px; */
    flex-direction: row;
    border-radius: 5px;

}
.common-main-topic-left{
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
}
.common-main-txt{
    /* margin-right: 30%; */
    color: #0B2F64;
    font-size: 210%;
    /* font-size: 34px; */
    font-weight: bold;
    /* margin-left: 2%; */
    /* width: 55%; */
}
.common-main-topic-left{
    width: 45%;
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
}
.common-main-topic-right{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
/* .btn-ban{
    display: none !important;
} */
/* .dashboard-main-container{
    width: 70%;
    height: 70%;
    justify-items: center;
    display: grid;
    margin-right:50px;
    overflow: auto;
} */

.dashboard-common-heading-container{
    display: flex;
    width: 99.99%;
    height: 4rem;
    color: #0B2F64;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    /* justify-content: space-between; */
    font-size: 1.75rem;
}

.dashboard-common-heading-text{
    display: flex;
    padding: 1rem;
    /* font-size: 2rem; */
    width: 85%;
    /* margin-inline: 5px; */
    align-items: center;
}

.dashboard-common-heading-back-btn{
    display: flex;
    padding: 1.5rem;
    align-items: center;
}
.body-list-container{
    margin-top: 20px;
    height: 55vh;
    align-self: center;
    width: 80%;

}

/* for 404 error page */
.body-container-404{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    min-height: 695px;
}
.e404-img{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
}
.e404-img>img{
    width: 30%;
    margin: 2rem;
}
.error-msg-404{
    display: flex;
    font-size: 24px;
    color: #2C61A3;
    justify-content: center;
    align-items: center;
}
.to-dashboard-anchor{
    text-decoration: none;
    font-weight: bold;
    color: #DE8500;
    display: flex;
    align-items: center;
    justify-content: center;
}
