/* Change product to pacakge */

.project-list-container{
    margin-top: 20px;
    height: 80%;
    min-height: 400px;
    max-height: 550px;
    width: 70%;
    min-width: 500px;
    max-width: 1000px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.project-card{
    display: block;
    height: 120px;
    width: 90%;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 20px;
}

.project-image-container{
    display: inline-block;
    height: 110px;
    width: 110px;
    margin-left: 15px;
    background: #FFFFFF;
}

.project-text-container{
    display: inline-block;
    height: 110px;
    width: 75%;
    min-width: 250px;
    max-width: calc(100% - 280px);
    margin-top: 5px;
    margin-left: 5px;
    overflow: auto;
}
.project-text-container-inner{
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
}

.project-details-btn-container{
    display: inline-block;
    margin-top: 5px;
    height: 42px;
    width: auto;
    min-width: 112px;
    margin-bottom: 40px;
    margin-left: 5px;
    overflow: auto; 
}
.project-details-btn{
    display: flex;
    height: 40px;
    width: 110px;
    background: #2C61A3;
    border-radius: 20px;
    color: #FFFFFF;
    justify-content: center;
}
.project-details-btn:hover{
    cursor: pointer;
    background: #0B2F64;
    transition-duration: 200ms;
}

.project-details-btn-text{
    align-self: center;
}


.project-text-no{
    margin: 5px;
    font-size: 16px;
}

.project-text-status{
    margin: 5px;
    font-size: 22px;
    font-style: bold;
}

.project-text-location{
    margin: 5px;
    font-size: 18px;
}

.project-details-container{
    width : 80%;
}

p{
    font-size:20px;
}

.project-details-inline-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.project-details-basic-container{
    margin-top: 10px;
    padding: 10px;
    padding-inline: 20px;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 65%;
    min-height: 120px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}

.project-details-customer-container{
    margin-top: 10px;
    padding: 10px;
    padding-inline: 20px;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 34%;
    height: inherit;
    min-height: 120px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}


.project-details-schedule-container{
    margin-top: 10px;
    padding: 10px;
    padding-inline: 20px;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}

.project-details-basic-status-text{
    font-size: 40px;
}

.project-details-pack-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    padding-inline: 20px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}

.project-details-pack-text{
    font-size: 35px;
}

.product-details-pack-btn{
    display: flex;
    height: 40px;
    width: 200px;
    background: #2C61A3;
    border-radius: 20px;
    color: #FFFFFF;
    justify-content: center;
    font-size: 15px;
    align-items: center;
}

.product-details-pack-btn:hover{
    cursor: pointer;
    background: #0B2F64;
    transition-duration: 200ms;
}

.project-details-btns-container{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.project-details-btns{
    display: flex;
    margin-inline: 5px; 
    height: 40px;
    width: 200px;
    background: #2C61A3;
    border-radius: 20px;
    color: #FFFFFF;
    justify-content: center;
    font-size: 15px;
    align-items: center;
}
.project-details-btns:hover{
    cursor: pointer;
    background: #0B2F64;
    transition-duration: 200ms;
}

.contents-col1{
    width :30%;
}
.contents-col2{
    width :18%;
}
.contents-col3{
    width :12%;
}
.contents-col4{
    width :18%;
}
.contents-col5{
    width :5%;
}




.extras-col1{
    width :70%;
}
.extras-col2{
    width :20%;
}
.extras-col3{
    width :5%;
}

