.dashboard-common-heading-and-background-container{
    width: 80%;
    max-width: 1000px;
    min-width: 800px;
    overflow: auto;
    margin-top: 10px;
}

.form-background{
    display: inline-flex;
    background: #D9D9D9;
    width: inherit;
    height: 85%;
    min-height: 500px;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
}
.form-background-details{
    display: inline-flex;
    background: #D9D9D9;
    width: inherit;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
}
.form-container{
    margin: 20px;
    width: 80%;
    overflow: hidden;
    min-width: 400px;
}
.form-inline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    /*margin-bottom: 10px;*/
}
.form-item-container{
    width:inherit;
    overflow: hidden;
}
.form-item-container-half{
    width: 45%;
    overflow: hidden;
    margin-right: 3%;
}
.form-item-text{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}


.form-item-input{
    text-align: left;
    margin-bottom: 5px;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    font-size:16px;
    width: 95%;
    min-height: 20px;
}
.form-item-input:hover{
    border-color: #2C61A3;
}

.form-item-input-disabled{
    text-align: left;
    margin-bottom: 5px;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    background: #EEEFF1;
    font-size:16px;
    width: 93%;
    min-height: 20px;
}

.form-item-input-dropdown{
    text-align: left;
    font-size:16px;
    width: 95%;
    min-height: 45px;
}


.form-button-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    margin-bottom: 10px;
}

.form-submit-btn{
    display: inline-block;
    width: 200px;
    min-width: 100px;
    padding: 10px;
    background: #2C61A3;
    /* font-size: 14px; */
    font-weight: medium;
    text-decoration: none;
    color: #FFFFFF;
    border: none ;
    border-radius: 20px;
    margin-top: 20px;
    margin-inline: 5px;
}
.form-submit-btn:hover{
    background: #0B2F64;
    transition-duration: 200ms;
}

.form-table-container{
    background: #F9F9F9;
    min-height: 180px;
    min-width: 350px;
    width: 80%;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-table-header-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    margin-bottom: 10px;
    background: #F9F9F9;
    border-radius: 10px;
    margin-top: -5px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.form-table-header-text{
    margin-inline: 10px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}
.form-table-body-container{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 150px;
}
.form-table-row-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    margin-bottom: 10px;
}

.form-table-row-container-alt{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    margin-bottom: 10px;
    background: #d9d9d9;
}

.form-table-row-text{
    margin-inline: 10px;
    margin-top: 5px;
    margin-bottom:5px;
    text-align: center;
}

.pack-content-col1{
    width :40%;
}
.pack-content-col2{
    width :20%;
}
.pack-content-col3{
    width :15%;
}
.pack-content-col4{
    width:5%;
}

.inventory-col1{
    width :30%;
}
.inventory-col2{
    width :25%;
}
.inventory-col3{
    width :18%;
}
.inventory-col4{
    width :12%;
}


.form-item-adder-container{
    width: 80%;
    background: #F9F9F9;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.form-item-adder-content-container{
    margin: 5px;
}

.form-item-adder-btn{
    display: inline-block;
    width: 50%;
    min-width: 100px;
    max-width: 250px;
    padding: 10px;
    background: #2C61A3;
    /* font-size: 14px; */
    font-weight: medium;
    text-decoration: none;
    color: #FFFFFF;
    border: none ;
    border-radius: 5px;
    margin-top: 20px;
    margin-inline: 5px;
}
.form-item-adder-btn:hover{
    background: #0B2F64;
    transition-duration: 200ms;
}


.product-image-container{
    margin-top: 30px;
    margin-left: 20px;
    min-width: 50px;
    max-width: 200px;
    width: 30%;
    height: 200px;
    overflow: hidden;
}

.product-image{
    width:100%;
    height: 100%;
    object-fit: contain;
}

.err{
    display: flex;
}
.err-box{
    font-size: 0.7rem;
    color: #DE8500;
    margin-left: 1%;
}

.save-box{
    font-size: 0.7rem;
    color: #0B2F64;
    margin-left: 1%;
}

.form-idgen-btn{
    width:7%;
    height: 44px;
    border-radius: 5px;
    background: #2C61A3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-idgen-btn:hover{
    background: #0B2F64;
    transition-duration: 200ms;
}

.form-idgen-img{
    height: 70%;
}

.form-idgen-inline{
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.form-item-remover-container{
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-item-remover-icon{
    height: 80%;
}