.form-container{
    font-family: 'work sans';
    align-self: center;
    margin-left: 15%;
    /* margin-right: 10%; */
    margin-top: 80px;
    width: 70vw;
    padding: 4px 15px;
    border:2px solid #0B2F64;
}
.form-container-signup{
    /* padding: 10%; */
    padding-left: 8%;
    padding-top: 2%;
}
.headline{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3%;
    text-align: center;
    font-weight: bold;
    font-size:34px;
    color: #0B2F64;
}
.group-container{
    margin-left: 3.5%;
    margin-top: 2% ;
    margin-bottom: 3%;
    display: flex;
}
.first-container{
    width: 50%;
}
.second-container{
    margin-left: 3%;
    float: right;
    width: 55%;
}
.input-box{
    border: 2px solid #0B2F64;
    width: 80%;
    height: 60%;
    margin-top: 2% ;
}
.star{
    font-size: 0.7rem;
    color: #e32;

}
.err{
    display: flex;
}
.err-box{
    font-size: 0.7rem;
    color: #DE8500;
    margin-left: 1%;
}
/* .later-part{
    color: #636364;
    font-size: 10px;
    text-align: center;
    padding-bottom: 3.5%;
    width: 75%;
} */
.later-part-txt{
    text-align: center;
    /* margin-left: 30%; */
    font-size: 10px;
    padding-bottom: 3.5%;
    color: #636364;
    margin-top: 2%;

}
.to-Signin-page{
    color: #0B2F64;
    font-weight: bold;
}

.Signupbtn{
    margin-top: 3%;
    margin-left: 22%;
    display: inline-block;
    width: 50%;
    padding: 0.7rem;
    background: linear-gradient(#BFD2F8,#0B2F64);
    /* font-size: 14px; */
    font-weight: medium;
    text-decoration: none;
    color: #FFFFFF;
    border: none ;
    border-radius: 5px;
}
.Signupbtn.disabled{
    pointer-events: none;
}
.to-Signin-page:hover{
    cursor: pointer;
    color: #DE8500;
}
.Signupbtn:hover {
    cursor: pointer;
    transform:scale(1.07);
}
.noti,.btn1,.dash{
    display: none;
}
.btn2{
    display: flex;
    align-items: center;
}
.nav-btn2::after{
    content: 'Login';
}
.nav-btn2:hover {
    cursor: pointer;
    transform:scale(1.07);
}
a{
    text-decoration: none;
}
.successful-container{
    display: flex;
    height: 55vh;
    justify-content: center;
    /* min-height: 400px; */
    /* max-height: 550px; */
    width: 100%;
    /* min-width: 500px;
    max-width: 1000px; */
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.successful-image{
    margin-bottom: 2vh;
    /* min-height: ; */
}

.successful-text{
    display: flex;
    color: #0B2F64;
    font-weight: bold;
    font-size: 20px;
}
.ok-btn{
    display: flex;
    height: 40px;
    width: 120px;
    background: #2C61A3;
    border-radius: 18px;
    color: #FFFFFF;
    justify-content: center;
    margin-top: 15px;
}
.ok-btn:hover{
    cursor: pointer;
    background: #0B2F64;
    transition-duration: 200ms;
}
.ok-btn-text{
    align-self: center;
}