body{
    font-family: 'work sans';
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit; 
    text-decoration:none; 
    cursor:pointer;  
}

/* this navigation bar is common for all customer dashboards */
.btn1{
    display: none;
}
.noti{
    margin-left: 25%;
}

.nav-btn2:hover, .noti:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.btn2{
    display: flex;
    align-items: center;
}
.dash{
    color: #DE8500;
}
.dash:hover{
    cursor: arrow;
    transform: none;
}

/* this part is common for all storekeeer dashboard contents..
left sub panel and the topic, left image and right image*/
.sidebar{
    position: absolute;
    width: 250px;
    height: calc(100% - 218px);
    margin-top: 74px;
    left: 0;
    background: linear-gradient(268.65deg, #F1F1F1 0.5%, rgba(255, 255, 255, 0) 56.69%);
    mix-blend-mode: normal;
    border: 2px solid #0B2F64;
    color: #0B2F64;
    font-weight: bold !important;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar-heading{
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 5%;
    font-size: 22px;
    height: 10%;
    border-bottom: 2px solid #0B2F64;
}
.sidebar-link-container{
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 8%;
    border-bottom: 1px solid #0B2F64;
    border-top: 1px solid #0B2F64;
}
.sidebar-link-container:hover{
    cursor: pointer;
    background-color: #EEEFF1;
    transition-duration: 200ms;
}

.sidebar-link-container-selected{
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 8%;
    border-bottom: 1px solid #0B2F64;
    border-top: 1px solid #0B2F64;
    color: #ffffff;
    background-color: #0b2f64;
}

.sidebar-link-container-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 98px);
}
.sidebar-link-container-top{
    display: block;
}
.sidebar-link-container-bottom  {
    display: block;
}
.sidebar-anchor{
    width: 100%;
    height: inherit;
    display: inherit;
}


.common-main-container{
    width: 100%;
    display: flex;
    margin: 0 2.5vh 0;
    flex-direction: column;
    justify-items: center;
}

.dashboard-common-main-topic{
    display: flex;
    width: 100%;
    justify-content: normal;

}
.common-main-left-img{
    margin-left: 2%;
}
.common-main-right-img{
    margin-right: 2%;
}
.common-main-txt{
    margin-right: 30%;
    color: #0B2F64;
    font-size: 210%;
    /* font-size: 34px; */
    font-weight: bold;
    margin-left: 2%;
    width: 45%;
}
.common-main-right-img:hover{
    cursor: pointer;
    transform:scale(1.07);
}

.dashboard-common-heading-container{
    display: flex;
    width: inherit;
    height: 90px;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 50px;
    justify-content: space-between;
}
.dashboard-common-heading-text{
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    font-size: 22px;
    margin-inline: 5px;
}
.dashboard-common-heading-image{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    padding: 0;
}
.dashboard-common-heading-back-btn{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}


.inventory-table-container{
    background: #F9F9F9;
    min-height: 180px;
    min-width: 350px;
    max-height: 60%;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inventory-table-body-contaier{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: inherit;
}

.main-btn-container{
    display: flex;
    justify-content: center;
    overflow: auto;
    margin-bottom: 10px;
}