body {
    font-family: 'work sans';
    margin: 0;
    background-color: #F1F1F1;
}
.web-body{
    background-color: #FFFFFF;
    display: flex;
    margin-top: 9%;
    border-radius: 5px;
    width: 80%;
    height: 500px;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 8rem 5rem;
}
.header {
    background-color: #FFFFFF;
    position: relative;
    height:80px;
	width:100%;
	margin:-8px;
}
.header-right{
    padding-top: 1%;
    width: 48%;
    float: right;
    display: flex;
    font-size: medium;
}
.header-right-location{
    width: 33%;
    display: flex;
}

.header-right-openH{
    display: flex;
    width: 33%;
}
.header-right-contact{
    display: flex;
    width: 34%;
}
.header-txt-blue{
    color: #2C61A3;
    font-size: 77% !important;
    /* text-size-adjust: 0.18 !important; */
}
.f{
    height: 40px;
}
.footer {
    
    height: 100%;
	right: 0;
	bottom: 0;
    color: #FCFEFE;
	background-color: #0B2F64;
	text-align: left;
}
.footer-txt {
    margin: -16px;
    margin-top: 6px;
    padding-top: 6px;
    padding-left: 5%;
    width: 500px;
}
.footer-right{
    display: flex;
    width: 15%;
    float: right;
    padding-top: -2px;
}
.footer-right-in, .footer-right-f, .footer-right-insta{
    padding-left: 5px;
}
/* navigation bar style */
.nav {
    position: absolute;
    right: 0;
    left: 0;
    height: 60px;
    color: #FCFEFE !important;
    background-color: #0B2F64;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-left{
    width:70%;
    display: flex;
}
.abt , .home , .packages, .contact, .dash {
    padding-left: 5%;
    /* margin-top: 2.4%; */
}
.nav-right{
    width:15%;
    display: flex;
}
.noti{
    /* margin-left: 12%; */
    padding-top: 10px;
    /* padding-left: 15px; */
}
.links{
    color: #FCFEFE;
    text-decoration: none;
}
.nav-btn1, .nav-btn2{
    display: inline-block;
    /* display: flex;
    align-items: center; */
    width: 100px;
    padding: 0.55rem;
    background: white;
    /* font-size: 14px; */
    font-weight: medium;
    color: #2C61A3;
    border: none ;
    border-radius: 5px;
}
.nav-btn1:hover, .nav-btn2:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.btn2-1, .btn1-1{
    display: flex;
    align-items: center;
}
/* .btn1, .btn2{
    display: flex;
    align-items: center;
} */
.btn1-1{
    margin-right: 10%;
}
.nav-right{
    width:15%;
    display: flex;
}


/* "header style" for the registered customer*/
.cnav {
    background-color: white;
    height: 70px;
    color: #FFFFFF !important;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
    box-shadow: 0px 4px 4px rgb(155 200 245 / 20%);
}
.cnav-left{
    width: 13rem;
    display: flex;
    justify-content: center;
}
.cnav-right{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-logo{
    height: 4rem;
}
.cimg-name{
    gap: 1rem;
    width: 51%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cimg{
    width: 40%;
    display: flex;
    align-items: center;
}
.myimg{
    border-radius: 10px;
    width: 3.5rem;
}
.cname{
    color: #2C61A3;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.7em;
    text-transform: uppercase;
}
.myname{
    text-align: center;
    align-content: center;
}
.clinks{
    color: #FCFEFE;
    text-decoration: none;
}
.cbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cnav-btn{
    width: 100px;
    padding: 0.55rem;
    background: #2C61A3;
    /* font-size: 14px; */
    font-size: 0.7em;
    font-weight: medium;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.cnav-btn:hover{
    background: #0B2F64;
    cursor: pointer;
    /* transform: scale(1.05); */
}


/* Style for popup begin from here */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 91%;
    opacity: 0.9;
    font-family: 'Poppins';
    font-style: normal;
}

button:hover {
    opacity: 1;
}


/* Float cancel and delete buttons and add an equal width */

.okbtn,
.deletebtn {
    width: 45%;
    border-radius: 10px;
}


/* Add a color to the ok button */

.okbtn {
    background-color: #2C61A3;
    /* color: black */
}


/* Add a color to the delete button */

.deletebtn {
    background-color: #640e0b;
}


/* Add padding and center-align text to the container */

.container {
    padding: 16px;
    text-align: center;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    padding-top: 50px;
    border-radius: 10px;
    /* font-family: 'Poppins'; */
    font-style: normal;
    background: #000000a6;
    ;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    /* font-family: 'Poppins'; */
    font-style: normal;
    /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Modal Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #640e0b;
    cursor: pointer;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    cursor: pointer;
}