body {
    font-family: 'work sans';
}
.header {
    position: relative;
    height:4%;
	width:100%;
	margin:-8px;
}
.header-right{
    padding-top: 1%;
    width: 48%;
    float: right;
    display: flex;
    font-size: medium;
}
.header-right-location{
    width: 33%;
    display: flex;
}
.header-right-openH{
    display: flex;
    width: 33%;
}
.header-right-contact{
    display: flex;
    width: 34%;
}
.header-txt-blue{
    color: #2C61A3;
    font-size: 77% !important;
    /* text-size-adjust: 0.18 !important; */
}
.footer {
    position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
    height: 7%;
    color: #FCFEFE;
	background-color: #0B2F64;
	text-align: left;
}
.footer-txt {
    margin: -16px;
    margin-top: 6px;
    padding-top: 6px;
    padding-left: 5%;
    width: 500px;
}
.footer-right{
    display: flex;
    width: 15%;
    float: right;
    padding-top: -2px;
}
.footer-right-in, .footer-right-f, .footer-right-insta{
    padding-left: 5px;
}
.nav {
    position: absolute;
	right: 0;
	left: 0;
    height: 8%;
    color: #FCFEFE;
	background-color: #0B2F64;
    display: flex;
}
.nav-left{
    width:70%;
    display: flex;
}
.abt , .home , .packages, .contact, .dash {
    padding-left: 20px;
}
.nav-right{
    display: flex;
}
.noti{
    margin-left: 12%;
    padding-top: 10px;
    padding-left: 15px;
}
.nav-btn{
    display: inline-block;
    width: 100px;
    padding: 0.55rem;
    background: white;
    /* font-size: 14px; */
    font-weight: medium;
    color: #2C61A3;
    border: none ;
    border-radius: 50px;
}
