.payment-list-container{
    margin-top: 20px;
    width: 100%;
    min-width: 500px;
    overflow-x: scroll;
    height: 80%;
    min-height: 400px;
    max-height: 550px;
}


.new-project-list-container{
    padding-top: 15px;
}

.project-list-topic{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bolder;
}

.box7{
    color: #ffffff;
    background-color: #0b2f64;
}

.project-box{
    display: flex;
    justify-content: space-around;
    height: 125px;
    width: 100%;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: auto;
}

.project-text-container{
    display: flex;
    height: 90px;
    width: 75%;
    /* min-width: 250px; */
    /* max-width: calc(100% - 280px); */
    margin-top: 5px;
    margin-left: 5px;
    /* overflow: auto; */
}
.project-text-container-inner{
    display: flex;
    /* height: inherit; */
    flex-direction: column;
    /* justify-content: space-between; */
}

.project-details-btn-container{
    align-self: center;
    margin-top: 5px;
    height: 42px;
    width: auto;
    min-width: 112px;
    /*margin-bottom: 40px;*/
    margin-left: 5px;
    overflow: auto;
}
.project-details-btn,.project-details-btn-new{
    display: flex;
    height: 40px;
    width: 120px;
    background: #2C61A3;
    border-radius: 20px;
    color: #FFFFFF;
    justify-content: center;
}
.project-details-btn:hover{
    cursor: pointer;
    background: #0B2F64;
    transition-duration: 200ms;
}

.project-details-btn-new{
    background: #DE8500;
}

.project-details-btn-text{
    align-self: center;
}

.add-project-btn{
    display: flex;
    height: 40px;
    width: 200px;
    background: #2C61A3;
    border-radius: 5px;
    color: #FFFFFF;
    justify-content: center;
    margin-top: 2%;
    /* margin-top: -50px; */
}
.add-project-btn:hover{
    cursor: pointer;
    background: #0B2F64;
    transition-duration: 200ms;
}
.add-project-btn-text{
    align-self: center;
}

.project-text-no{
    margin: 5px;
    font-size: 16px;
}

.project-text-name{
    margin: 5px;
    font-size: 20px;
    font-style: bold;
}

.project-text-price{
    margin: 5px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #0B2F64;
}
.add-project-btn a{
    text-decoration: none;
    color: #FFFFFF;
}
.common-main-left-img{
    margin-left: 2%;
}

.no-payments-text{
    margin-top: 200px;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    color: #757575;
}

.add-schedule-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-inspection-button{
    width : 100%;
    height:auto;
    padding: 10px;

}

h2,h3{
    color: #DE8500;
}

h3{
    text-align: center;
    padding-top: 10px;
}

.schedule-btn-container{
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 0px;
    width: 90px;
}

.schedule-form-item-input{
    height: 30px;
}