.receipt-details-container{
    margin-top: 10px;
    padding: 10px;
    padding-inline: 20px;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.receipt-image-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    max-height: 600px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.receipt-iamge{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.receipt-btn-container{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.receipt-btn{
    display: flex;
    margin-inline: 5px; 
    height: 40px;
    width: 200px;
    background: #2C61A3;
    border-radius: 20px;
    color: #FFFFFF;
    justify-content: center;
    font-size: 15px;
    align-items: center;
}

.receipt-btn:hover{
    cursor: pointer;
    color: #FFFFFF;
    background: #0B2F64;
    transition-duration: 200ms;
}
