/* .dashboard-common-heading-and-background-container{
    width: 80%;
    max-width: 1000px;
    min-width: 800px;
    overflow: auto;
    margin-top: 10px;
} */

.box9{
    color: #ffffff;
    background-color: #0b2f64;
}