.dashboard-common-heading-and-background-container{
    width: 80%;
    max-width: 1000px;
    min-width: 800px;
    overflow: auto;
    margin-top: 10px;
}

/* .forms{
    overflow-y: scroll ;
} */
.form-background{
    display: inline-flex;
    background: #FFFFFF;
    width: 100%;
    /* max-width: 900px; */
    min-width: 700px;
    height: 24%;
    /* min-height: 200px; */
    justify-content: center;
    /* overflow-y: scroll;
    overflow-x: auto; */
    border-radius: 10px;
    margin-top: 1rem;
}

.respond-form-background{
    display: inline-flex;
    width: 70%;
    max-width: 900px;
    min-width: 700px;
    height: 30%;
    min-height: 100px;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: auto;
    border-radius: 10px;
    /* margin-top: -50px; */
}

.form-container{
    width: 85%;
    overflow: auto;
    min-width: 400px;
    margin: 20px;
}
.form-inline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    margin-bottom: 10px;
}
.form-item-container{
    width:inherit;
    overflow: hidden;
}
.form-item-container-half{
    width: 45%;
    overflow: hidden;
    margin-right: 3%;
}
.form-item-text{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}


.form-item-input{
    text-align: left;
    margin-bottom: 5px;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    font-size:14px;
    width: 95%;
    min-height: 25px;
    border-color: #0B2F64;
    border-width: 1.5px;
    background-color: #D9D9D9;
}
.form-item-input:hover{
    border-color: #2C61A3;
}

.form-item-input-disabled{
    text-align: left;
    margin-bottom: 5px;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    background: #EEEFF1;
    font-size:16px;
    width: 93%;
    min-height: 30px;
}

.form-inline-button{
    display: flex;
    justify-content: center;

}

.send-btn{
    justify-content: flex-end;
}

.form-send-btn{

    width: 9vw;
    min-width: 100px;
    max-width: 250px;
    padding: 15px;
    background: #2C61A3;
    /* font-size: 14px; */
    font-weight: medium;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    margin-inline: 5px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-send-btn:hover{
    background: #0B2F64;
    transition-duration: 200ms;
}

.cancel-btn{
    justify-content: flex-start;
}

.form-cancel-btn{
    /* display: inline-block; */
    width: 9vw;
    min-width: 100px;
    max-width: 250px;
    padding: 15px;
    /* background: #2C61A3; */
    /* font-size: 14px; */
    font-weight: medium;
    text-decoration: none;
    color: #0B2F64;
    border-radius: 5px;
    margin-top: 20px;
    margin-inline: 5px;
    border: 1px solid black;
    height: 30px;
    display: flex;;
    justify-content: center;
    align-items: center;
}

.form-cancel-btn:hover{
    background: #0B2F64;
    transition-duration: 200ms;
    color: #FFFFFF;
}

/*CSS for chat system*/

.message-container{
    height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
    /* border: #0000cc 2px solid; */
    margin-top: 1rem;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 1rem;
    overflow: auto;
}

.sender-container{
    text-align: right;
}

.receiver-container{
    text-align: left;
}

.sending-message{
    background-color: lightblue;
    word-wrap: break-word;
    display: inline-block;
    padding: 5px;
    border-radius:5px;
    max-width: 70%;
}
.incoming-message{
    background-color: yellow;
    word-wrap: break-word;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    max-width: 70%;
}

.insert-message {
    height: 40px;
    width: 84%;
    border-radius: 10px;
}

.send-message-btn{
    background-color: #2C61A3;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    height: 20px;
    width: 15%;
    font-style: normal;
    height: 40px;
}
.model-footer{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}